@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>HELLO THERE; this shit's broken</h1>
<h2>this is Authors error page btw</h2>