@model List<Platform>

@{
    ViewData["Title"] = "Platforms";
}

<h1>Platforms</h1>

<p>
    <a asp-controller="Platforms" asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>GUID</h4>
            </th>
            <th>
                <h4>NAME</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
             </td>
            <td>
                    <a asp-controller="Platforms" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Platforms" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

